/* SMALLER SCREEN BUT BIGGER THAT SCREEN1 */
@media only screen and (min-width: 415px) and (max-width: 880px) {
  html {
    scroll-behavior: smooth;
  }

  header {
    position: fixed;
    /* left: 0;
    top: 0; */
    right: 0;
    top: 50px;
    width: 200px;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 50px;
    opacity: 0;
  }
  header button {
    width: 100%;
    height: 60px;
    margin-top: 7px;
    padding: 10px;
    border-radius: 40px;
    background-color: black;
  }
  header button:hover {
    background-color: rgba(175, 174, 174, 0.515);
  }
  header a {
    pointer-events: none;
  }
  .menu-img,
  .cross-img {
    display: flex;
    position: fixed;
    top: 0;
    right: 5px;
    height: 50px;
    z-index: 3;
    background-color: black;
  }
  .hello {
    margin-bottom: 40px;
  }
  .ndanyuzwe {
    font-size: 28px !important;
  }
  .dedicated {
    margin-top: 120px;
    margin-bottom: 10px;
  }
  .section2-upper {
    display: flex;
    flex-direction: column;
  }
  .section2-middle {
    display: flex;
    align-self: center;
  }
  .section2-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 30px 0px 15px;

    padding: 0;
  }
  .section2-lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 15px;
    height: 200px;
    width: 100%;
  }
  .ourservices-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
  }
  .best-services-details {
    padding-left: 40px;
    font-size: 15px;
    text-align: left;
  }

  .testimonials {
    margin-top: 0;
  }
  .testimonials-title {
    padding-bottom: 40px;
  }
  .testimonials-container {
    justify-content: center;
  }
  .testimonials-container-lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 10px 20px 10px 20px;
  }
  .testimonials-container-lower-left {
    text-align: left;
  }
  .testimonials-container-right {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-left: 70px;
  }
  .portfolio-content {
    display: flex;
    flex-direction: column;
  }
  .portfolio-content-left {
    align-self: center;
  }
  .portfolio-content-row {
    display: flex;
    flex-direction: column;
  }

  .experience-job {
    display: flex;
    flex-direction: column;
  }
  .experience-period {
    flex-direction: row;
    justify-content: space-between;
  }
  .rectangle {
    width: 100%;
    height: 1px;
    margin-top: 3px;
    margin-bottom: 15px;
  }
  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .whole-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-contact {
    height: 400px;
  }
  .contact-us-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
  }
  .input-types {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-self: stretch;

    margin: 10px 10px 10px 10px;
  }

  .upper-input-types {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .input-types input {
    padding: 10px;
    height: 30px;
    margin-bottom: 8px;
  }
  .tel-input {
    margin-left: 0;
    margin-right: 0;
  }
  .message-input-type {
    margin-bottom: 20px;
    height: 55px !important;
    width: 100%;
  }
}
