* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px 10px 300px;
  height: 60px;
  width: 100%;
  background-color: rgb(0, 0, 18);
}

header button {
  color: white;
  background-color: rgb(0, 0, 18);
  font-weight: bold;
  border: none;
}
header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(0, 0, 18);
  height: 25px;
  padding: 5px;
}
.cross-img,
.menu-img {
  display: none;
}

.intro {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url("js-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.self-intro {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.875);
  z-index: 1;
  padding: 20px;
  text-align: center;
}

.self-intro p {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.ndanyuzwe {
  background: linear-gradient(
    to right,
    purple 25%,
    purple 40%,
    red 60%,
    red 20%
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 45px !important;
}

.dedicated {
  margin-top: 180px;
}
.download-cv button {
  margin-top: 15px;
  padding: 5px;
  color: white;
  background: linear-gradient(45deg, rgb(101, 2, 101), rgb(245, 43, 43));
  border: none;
  font-weight: bold;
}
.my-cv {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.section2-upper {
  display: flex;
  flex-direction: row;
}
.section2-left {
  flex: 1;
  text-align: right;
  margin: 50px 20px 40px 60px;
}
.my-names {
  color: rgb(6, 6, 50);
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 8px;
}
.my-career {
  color: rgb(87, 13, 87);
  font-weight: bolder;
  margin-bottom: 15px;
}
.more-about-me {
  text-align: justify;
  font-size: 14px;
}
.section2-middle {
  display: flex;
  width: 180px;
  justify-content: center;
}
.section2-middle img {
  height: 230px;
}
.section2-right {
  flex: 1;
  margin: 50px 60px 50px 20px;
}

.progress-bar-html {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(245, 43, 43);
  border-radius: 4px;
  overflow: hidden;
}

.progress-html {
  width: 96%;
  height: 10px;
  background-color: rgb(101, 2, 101);
}
.progress-bar-react {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(245, 43, 43);
  border-radius: 4px;
  overflow: hidden;
}

.progress-react {
  width: 65%;
  height: 10px;
  background-color: rgb(101, 2, 101);
}
.progress-bar-node {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(245, 43, 43);
  border-radius: 4px;
  overflow: hidden;
}

.progress-node {
  width: 86%;
  height: 10px;
  background-color: rgb(101, 2, 101);
}
.progress-bar-database {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(245, 43, 43);
  border-radius: 4px;
  overflow: hidden;
}

.progress-database {
  width: 82%;
  height: 10px;
  background-color: rgb(101, 2, 101);
}
.section2-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
  width: 100%;
  background-color: rgba(120, 118, 118, 0.274);
  padding: 50px 100px 50px 100px;
}
.section2-lower-left {
  display: flex;
  flex-direction: row;
}
.section2-lower-image {
  border-radius: 50%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 3, 61);
  margin-right: 15px;
}
.section2-lower-image img {
  height: 20px;
}
.section2-lower-details-upper {
  color: black;
  font-weight: bold;
}
.our-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.our-services-title {
  font-size: 40px;
  color: rgb(3, 3, 61);
}
.ourservices-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}
.ourservices-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourservices-container-div {
  margin-top: 40px;
  background: linear-gradient(45deg, rgb(101, 2, 101), rgb(245, 43, 43));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.ourservices-container-div img {
  height: 20px;
}
.best-services {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.best-services-details {
  text-align: justify;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 14px;
}
.testimonials {
  margin-top: 40px;
  padding-top: 30px;
  height: 400px;
  width: 100%;
  /* clip-path: inset(100px 0 0 0); */
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.964);
  background-image: url(testimonials.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.testimonials-container-lower {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 40px 350px 50px 100px;
}
.testimonials-container-lower-left {
  color: white;
  font-size: 24px;
  text-align: justify;
}
testimonials-container-right {
  display: flex;
  flex-direction: row;
  margin-left: 110px;
}
.testimonials-container-right img {
  border-radius: 50%;
  height: 60px;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}
.testimonials-container-giver {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  justify-content: start;
  align-items: end;
}
.testimony-giver {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  color: white;
}
.testimony-giver-profession {
  color: rgb(251, 52, 251);
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.portfolio img {
  width: 400px;
  margin: 10px;
}
.portfolio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.portfolio-portfolio {
  font-weight: bold;
  color: rgb(19, 19, 70);
  font-size: 30px;
  margin-bottom: 10px;
}
.portfolio-content {
  display: flex;
  flex-direction: row;
}
.portfolio-content-left {
  display: flex;
  flex-direction: column;
}
.portfolio-content-left div,
a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.portfolio-content-left div :hover {
  color: rgb(166, 22, 166);
  font-weight: bold;
}
.portfolio-content-right {
  display: flex;
  flex-direction: column;
}
.portfolio-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(101, 2, 101), rgb(245, 43, 43));
  padding: 70px 40px 70px 40px;
  color: white;
}
.experience-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.experience-job {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.rectangle {
  background-color: white;
  width: 15px;
  height: 50px;
  margin-right: 20px;
}
.experience-period {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  align-items: end;
  white-space: nowrap;
  margin-right: 20px;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 70px 20px 120px;
}
.blog-title {
  padding-right: 80px;
}
.blog-blog {
  color: rgb(19, 19, 70);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.whole-blog {
  display: flex;
  flex-direction: row;
}
.whole-blog img {
  width: 300px;
  margin-bottom: 10px;
}
.single-blog {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}
.technology-used {
  color: rgb(17, 17, 74);
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.blog-details {
  padding-right: 70px;
}
.section-contact {
  background-image: url(map.png);
  background-size: cover;
  height: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.contact-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 240px;
  padding: 20px;
  color: white;
  background-color: rgb(1, 1, 35);
}
.contact-us {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.input-types {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 18px 30px;
}
.upper-input-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  margin-bottom: 8px;
  width: 100%;
}
.upper-input-types input {
  flex: 1;
  padding-left: 5px;
  outline: none;
}
.tel-input {
  margin-left: 8px;
  margin-right: 8px;
}
.message-input-type {
  width: 100%;
  flex: 1;
  height: 35px;
  padding-left: 5px;
  outline: none;
}
.section-contact button {
  background: linear-gradient(45deg, rgb(101, 2, 101), rgb(245, 43, 43));
  color: white;
  border: none;
  padding: 10px;
}
.copy-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
}
.copy-right img {
  padding-top: 20px;
  margin-bottom: 10px;
  height: 50px;
}
.copy-right span {
  font-weight: bold;
}
